<div class="navigation">
  <div id="nav-title">
    <a href="/">Mates Rates
      <img src="assets/Paintbrush.png" alt="logo">
    </a>

    <span id="profileheader">Business pages</span>
  </div>
</div>
<br>
<% @business.each do |b|%>
  <a href="/businesses/<%=b.id%>">
    <div class="business_container">
      <div class="bus_title">
        <p><%= b.name %></p>
      </div>
      <div class="bus_inner_container">
        <p><%= b.about %></p>
      </div>
    </div>
  </a>
<br/>
<% end %>
<hr/>
