<div id="nav-title">
  <a href="/">Mates Rates</a>
</div>
<div id="about-main">
  <p>Mates rates is a website where you can find <a class="about-link"href="/jobs">odd jobs</a> that need doing in your area, or advertise <a class="about-link" href="/workers">your services</a> to people local to you!</p>
  <a class="about-link" href="/jobs">Browse Jobs</a> or
  <a class="about-link" href="/workers">Find workers</a>
  Today!
  <p><a href="/">Home</a></p>
</div>
