TO dos

<ul>
  <li>Search by area eg  Job.near("cairns, qld", 10)</li>
  <li>user types and learn about DEVISE</li>
  <li>improve the workers section</li>
  <li>delete associated things</li>
  <li>sort out the crappy css as always</li>
  <li>job search by jobtype (mulitple jobTypes) and locations</li>
  <li><a href="https://www.sitepoint.com/messaging-rails-mailboxer/">**LINK>>>MESSAGING TUTORIAL***LINK**</a></li>
</ul>
<div>uesr can sign up, login and log out</div>
<div>personal profile</div>
<div>send and receive emails</div>
<div>search the jobs by geographic area</div>
