.business_container {
  margin: 1%;
  width: 44%;
  min-height: 100px;
  display: inline-block;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.bus_title{
  background-color: lightgrey;
  padding:1%;
  font-size: 15px;
}
.business_container:hover{
  background-color: white;
  transition: .3s;
  transform: translateY(-1px);
}

.bus_inner_container{
  padding: 1%;
}
