*{
	font-family: verdana;
	/*font-size: 20px;*/
}

.make_blue{
	font-weight: bold;
}
.make_blue:hover{
	color:blue;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*responsive sizing*/

@media screen and (max-width: 600px) {

	.inner-site-wrap{
		padding: 2%;
	}
}
