
.nav_li:hover{
  color: blue;
}

.categories-list{
  display: inline-block;;
  margin-left:20px;
  margin-bottom: 10px;
  float:left;
  color: #22262c;
}
#alljobtitle{
  clear:both;
}

.categories-list:hover{
  color: blue;
}
