<!DOCTYPE html>
<html>
<head>
  <title>M a t e s R a t e s</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'jquery','data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width", "initial-scale=1, maximum-scale=1.0,user-scalable=no">

</head>
<body>






    <div class="inner-site-wrap">
      <%= yield %>
    </div>

</body>
</html>
